# Database (Supabase)
NEXT_PUBLIC_SUPABASE_URL=https://gvnbdrzutmxhvexlfepx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_h1O93B6kUvWuWGaZgcV7og_Wam1pW6F

# Redis (Upstash)
UPSTASH_REDIS_REST_URL="https://xxx.upstash.io"
UPSTASH_REDIS_REST_TOKEN="xxx"

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=xxx
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=xxx.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=xxx
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=xxx.appspot.com
NEXT_PUBLIC_FIREBASE_APP_ID=xxx
NEXT_PUBLIC_FIREBASE_VAPID_KEY=xxx

# SSLCommerz
SSL_COMMERZ_STORE_ID=xxx
SSL_COMMERZ_STORE_PASSWORD=xxx
NEXT_PUBLIC_SSL_COMMERZ_URL="https://sandbox.sslcommerz.com"

# GreenWeb SMS
GREENWEB_API_KEY=xxx
GREENWEB_API_SECRET=xxx

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000