@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-archive: "Archive", sans-serif;
}

body {
  font-family: var(--font-archive);
  @apply bg-gray-50 text-dark antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}